# WhatsApp number in international format without '+' or spaces
# TODO: Client to provide the final WhatsApp business number before launch
VITE_WHATSAPP_NUMBER=91XXXXXXXXXX

# Public site URL used for absolute links / SEO
# TODO: Update after the production domain is confirmed
VITE_SITE_URL=https://www.brssolutionenterprises.com
